{% load recipes_filters %}
{% csrf_token %}
<div class="card-user" data-author="{{ author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">
            <a href="{% url 'profile' author.username %}" style="text-decoration: none;">
                {% firstof author.get_full_name author.username %}
            </a>
        </h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:":3" %}
                <li class="card-user__item">
                    {% load thumbnail %}
                    <a href="{% url 'recipe_view' recipe.id %}" style="text-decoration: none;">
                        <div class="recipe">
                            {% thumbnail recipe.image "144x144" crop="center" upscale=True as im %}
                                <img src="{{ im.url }}" alt={{ recipe.title }} class="recipe__image">
                            {% endthumbnail %}
                            <h3 class="recipe__title">{{ recipe.title }}</h3>
                            {% include 'recipes/extend/icon_extend/icon_time.html' with class="recipe__text" time=recipe.time %}
                        </div>
                    </a>
                </li>
            {% endfor %}
            {% if author.recipes.count > 3 %}
                <li class="card-user__item">
                    <a href="{% url 'profile' author.username %}"
                        class="card-user__link link">Еще {{ author.recipes.count|add:"-3"|word_conjugate:"рецепт,рецепта,рецептов" }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% include 'recipes/extend/buttons/follow_unsub_button.html' %}
</div>