{% load static %}
{% csrf_token %}
<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "364x240" crop="center" as im %}
        <a href="{% url 'recipe_view' recipe.id %}" class="link"><img src="{{ im.url }}" alt="{% static 'img/testCardImg.png' %}" title="{{ recipe.title }}" class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe_view' recipe.id %}"> {{ recipe.title }}</a> 
        <ul class="card__items">
            {% for tag in recipe.tag.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
            <p class="card__text">
                <span class="icon-user"></span>
                <a href="{% url 'profile' recipe.author.username %}" style="color: black">
                    {% if recipe.author.get_full_name %}
                        {{ recipe.author.get_full_name }}
                    {% else %} 
                        {{ recipe.author.username }}
                    {% endif %}
                </a>
            </p>
        </div>
    </div>
    <div class="card__footer">
    {% if user.is_authenticated %}
        {% include 'recipes/extend/purchase_button.html' with recipe=recipe %}
        {% include 'recipes/extend/favor_button.html' with check=recipe.favorite %}
    {% endif %}
    </div>
</div>