{% load static %}
{% csrf_token %}
<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "364x240" crop="center" as im %}
        <a href="{% url 'recipe_view' recipe.id %}" class="link"><img src="{{ im.url }}" alt="{% static 'img/testCardImg.png' %}" title="{{ recipe.title }}" class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe_view' recipe.id %}"> {{ recipe.title }}</a> 
            {% include 'recipes/extend/icon_extend/icon_tags.html' with class_1="card__items" class_2="card__item" tags=recipe.tag.all %}
        <div class="card__items card__items_column">
            {% include 'recipes/extend/icon_extend/icon_time.html' with class="card__text" time=recipe.time %}
            {% include 'recipes/extend/icon_extend/icon_user.html' with class="card__text" %}
        </div>
    </div>
    <div class="card__footer">
    {% if user.is_authenticated %}
        {% include 'recipes/extend/buttons/purchase_button.html' with check=recipe.purchased%}
        {% include 'recipes/extend/buttons/favor_button.html' with check=recipe.favorite %}
    {% endif %}
    </div>
</div>