<div class="tags">
    {% for tag in request.META.all_tags %}
        <div class="tags__item">
            <input type="checkbox" name="recipe_tag" id="id_recipe_tag_{{ tag.value }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }} tags__checkbox_active"
                   value={{ tag.value }} {% if tag.value in request.META.active_tags  %} checked {% endif %}>
            <label for="id_recipe_tag_{{ tag.value }}" class="tags__label">{{ tag.name }}</label>
        </div>
    {% endfor %}
</div>