{% load recipes_filters %}
<ul class="tags">
    {% for tag in request.META.all_tags %}
        <li class="tags__item">
            {% csrf_token %}
            <a id="{{ tag.pk }}"
                class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                {% if tag.value in request.META.active_tags %} tags__checkbox_active {% endif %}"
                href="?{{ request|get_tag_link:tag }}"></a>
            <span class="tags__label">{{ tag.name }}</span>
        </li>
    {% endfor %}
</ul>
