{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} | FoodyDoody</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        {% comment %} <link rel="stylesheet" href="{% static 'css/pages/index.css'%}"> {% endcomment %}
        {% block style %}{% endblock %}
    </head>

    <body>
        {% include 'foodgram/base_ext/nav.html' %}
        {% block content %} {% endblock %}
        {% include 'foodgram/base_ext/footer.html' %}
    </body>

    {% block script %}{% endblock %}

</html>