<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} | FoodyDoody</title>
        {% load static %}
            <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        {% block style %}{% endblock %}
    </head>

    <body class="body">
        {% include 'foodgram/base_ext/nav.html' with tally=user.purchases.count mark=request.resolver_match.url_name %}
        <main class="main container">
            {% block content %}{% endblock %}
            {% if page.has_other_pages %}
                {% include "foodgram/base_ext/paginator.html" %}
            {% endif %} 
        </main>       

        {% include 'foodgram/base_ext/footer.html' %}

    </body>

    {% block script %}{% endblock %}

</html>