{% extends "foodgram/base.html" %}
{% load static %}
{% load recipes_filters %}

{% block title %}Pецепты автора {{ profile.get_full_name }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">{{ profile.get_full_name }}</h1>
        <ul class="tags">
            {% for tag in all_tags %}
                <li class="tags__item">
                    <a id="{{ tag.pk }}"
                        class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                        {% if tag.value in request.GET|get_filter_values %} tags__checkbox_active {% endif %}"
                        href="{% url 'profile' profile %}?{{ request|get_filter_link:tag }}"></a>
                    <span class="tags__label">{{ tag.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if request.user.is_authenticated %}
        {% if profile != request.user %}
            <div class="author-subscribe" data-author="{{ profile.id }}">
                {% if sub == True %}
                    <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_auto" name="subscribe" >Отписаться от автора</button></p>
                {% else %}
                    <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_auto" name="subscribe" data-out>Подписаться на автора</button></p>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

<!-- Отображение карточки рецепта -->
    <div class="card-list">
        {% for recipe in page %}
            {% include "recipes/extend/recipe_item.html" with recipe=recipe %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/authorRecipe.js' %}"></script>
{% endblock %}