{% extends "foodgram/base.html" %}
{% load static %}
{% load recipes_filters %}

{% block title %}Избранное{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css'%}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Избранное</h1>
        {% include "recipes/extend/tags.html" %}
    </div>
    <div class="card-list">
        {% for recipe in page %}
            {% include 'recipes/extend/recipe_item.html' with author=recipe.author%}
        {% endfor %}
    </div>
    {% if not page %}
        <a class="card__text" style="font-size: 20px; color: black;">У Вас пока нет любимых рецептов, или рецептов с данным тегом.</a>
        <br>
        <br>
        <a class="card__text" style="font-size: 20px;" href="{% url 'index' %}">На главной странице</a>
        <a class="card__text" style="font-size: 20px;"> Вы обязательно найдёте что-нибудь интересное</a>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/favorite.js' %}"></script>
{% endblock %}
