{% extends "foodgram/base.html" %} 
{% load static %} 
{% load recipes_filters %} 
 
{% block title %}{{ recipe|yesno:"Редактирование рецепта,Создание рецепта" }}{% endblock %} 
 
{% block style %} 
    <link rel="stylesheet" href="{% static 'css/pages/form.css'%}"> 
{% endblock %} 
 
 
{% block content %} 
    <main class="main container" autocomplete="off">
        <div class="main__header"> 
            <h1 class="main__title">{{ recipe|yesno:"Редактирование рецепта,Создание рецепта" }}</h1> 
        </div> 
        <div class="form-container"> 
            <form class="form" method="post" enctype="multipart/form-data"> 
                {% csrf_token %} 
 
                {% with form.title as field %}
                    <div class="form__group" aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                        <label for="{{ field.id_for_label }}" class="form__label">Название рецепта</label>
                        <div class="form__field-group">
                            {{ field|addclass:'form__input' }}
                        {% include 'recipes/extend/form_extend/error.html' with field=field %}
                        </div>
                    </div>
                {% endwith %}

                <div class="form__group" aria-required="{% if form.tag.field.required %}true{% else %}false{% endif %}">
                    <div class="form__field-group">
                        {% include "recipes/extend/form_extend/tags_for_form.html" %}
                        {% if form.tag.errors %}
                            <span class="form__error">Добавьте по крайней мере один тег</span>
                        {% endif %}
                    </div> 
                </div>

                {% include "recipes/extend/form_extend/ingredients.html" with field=form.ingredients_in_recipe%}

                <div class="form__group">
                    {% with form.time as field %}
                        <label for="{{ field.id_for_label }}" class="form__label">Время приготовления</label>
                        <div class="form__field-group form__field-group_time">
                            {{ field|addclass:'form__input' }}
                            <label for="id_time" class="form__label">мин.</label>
                            {% include 'recipes/extend/form_extend/error.html' %}
                        </div>
                    {% endwith %}
                </div>

                <div class="form__group">
                    {% with form.description as field %}
                        <label for="{{ field.id_for_label }}" class="form__label">Описание рецепта</label>
                        <div class="form__field-group">
                            {{ field|addclass:'form__textarea' }}
                            {% include 'recipes/extend/form_extend/error.html' %}
                        </div>
                    {% endwith %}
                </div>

                <div class="form__group">
                    <span class="form__label">Загрузить фото</span>
                    <div class="form__field-group">
                        {{ form.image }}
                        <span class="form__error">{{ form.image.errors }}</span>
                    </div>
                </div> 
 
                {% include "recipes/extend/buttons/save_button.html" %}

            </form> 
        </div> 
    </main> 
{% endblock %} 
 
{% block script %} 
    <script src="{% static 'js/config/config.js' %}"></script> 
    <script src="{% static 'js/components/Header.js' %}"></script> 
    <script src="{% static 'js/utils/debouncing.js' %}"></script> 
    <script src="{% static 'js/api/Api.js' %}"></script> 
    <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}