{% extends "foodgram/base.html" %} 
{% load static %} 
{% load user_filters %} 
 
{% block title %}{{ recipe|yesno:"Редактирование рецепта,Создание рецепта" }}{% endblock %} 
 
{% block style %} 
    <link rel="stylesheet" href="{% static 'css/pages/form.css'%}"> 
{% endblock %} 
 
 
{% block content %} 
    <main class="main container">
        <div class="main__header"> 
            <h1 class="main__title">{{ recipe|yesno:"Редактирование рецепта,Создание рецепта" }}</h1> 
        </div> 
        <div class="form-container"> 
            <form class="form" method="post" enctype="multipart/form-data"> 
                {% csrf_token %} 
 
 
                <div class="form__group"> 
                    <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label> 
                    <div class="form__field-group"> 
                        {{ form.title|addclass:"form__input" }} 
                        {% if form.title.errors %} 
                            <span class="form__error">{{ form.title.error|escape }}</span> 
                        {% endif %}
                    </div> 
                </div>

                <div class="form__group"> 
                    <p class="form__label">Теги</p> 
                    <div class="form__field-group"> 

                        {% include "recipes/extend/tags_for_form.html" %}

                        {% if form.tag.errors %} 
                            <span class="form__error">{{ form.tag.errors|escape }}</span> 
                        {% endif %} 
                    </div> 
                </div>

                <div class="form__group"> 
                    <label for="nameIngredient" class="form__label">Ингредиенты</label> 
                    <div class="form__field-group"> 
                        <div class="form__field-group-ingredientes"> 
                            <div class="form__dropdown"> 
                                <input type="text" id="nameIngredient" class="form__input"> 
                                <div class="form__dropdown-items"></div> 
                            </div> 
                            <input type="number" id="cantidad" class="form__input" min="0"> 
                            <label for="cantidad" class="form__label" id="cantidadVal"></label> 
                        </div> 
                        <div class="form__field-group-ingredientes-container"></div> 
                         
                        <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span> 
                        <span class="form__error"></span> 
                    </div> 
                </div>

                <div class="form__group"> 
                    <label for="{{ form.time.id_for_label }}" class="form__label">Время приготовления</label> 
                    <div class="form__field-group form__field-group_time"> 
                        {{ form.time|addclass:"form__input" }} 
                        <label for="{{ form.time.id_for_label }}" class="form__label">минут</label> 
                        {% if form.time.errors %} 
                            <span class="form__error">{{ form.time.errors|escape }}</span> 
                        {% endif %} 
                    </div>
                </div>

                <div class="form__group"> 
                    <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label> 
                    <div class="form__field-group"> 
                        {{ form.description|addclass:"form__textarea" }} 
                        {% if form.description.errors %}
                            <span class="form__error">{{ form.description.errors|escape }}</span>
                        {% endif %} 
                    </div> 
                </div> 
                <div class="form__group"> 
                    <span class="form__label">Загрузить фото</span>
                    <div class="form__field-group">
                        {{ form.image }}
                        <span class="form__error">{{ form.image.errors }}</span>
                    </div>
                </div> 
 
                {% include "recipes/extend/buttons/save_button.html" with recipe=recipe %}

            </form> 
        </div> 
    </main> 
{% endblock %} 
 
{% block script %} 
    <script src="{% static 'js/config/config.js' %}"></script> 
    <script src="{% static 'js/components/Header.js' %}"></script> 
    <script src="{% static 'js/utils/debouncing.js' %}"></script> 
    <script src="{% static 'js/api/Api.js' %}"></script> 
    <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}