{% extends 'foodgram/base.html' %}

{% block title%} Список покупок {% endblock%}
   
{% load static %}
{% load recipes_filters %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/shopList.css' %}">
{% endblock %}
    
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in purchase %}
                {% csrf_token %}
                <li class="shopping-list__item" data-id="{{ recipe.id }}">
                    <a href="{% url 'recipe_view' recipe.id %}" style="text-decoration: none;">
                        <div class="recipe recipe_reverse">

                            {% include 'recipes/extend/image.html' with size="144x144" class="recipe__image recipe__image_big" small_pix=True %}

                            <h3 class="recipe__title">{{ recipe.title }}</h3>
                            {% include 'recipes/extend/icon_extend/icon_time.html' with class="recipe__text" time=recipe.time %}
                        </div>
                    </a>
                    <a class="shopping-list__button link">Удалить</a>
                </li>
            {% endfor %}
        </ul>
        {% if purchase %}
            <a class="shopping-list__button link" style="font-size: 20px;" href="{% url 'purchase_save' %}">
                <button class="button button_style_blue">Скачать список</button>
            </a>
        {% else %}
            <a class="shopping-list__button" style="font-size: 20px; color: black;">Ваш список пока пуст</a>
            <a class="shopping-list__button link" style="font-size: 20px;" href="{% url 'index' %}">Добавьте рецепты на главной странице</a>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/shopList.js' %}"></script>
{% endblock %}