{% extends 'foodgram/base.html' %}

{% block title%} Список покупок {% endblock%}
   
{% load static %}
{% load recipes_filters %}
{% csrf_token %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/shopList.css' %}">
{% endblock %}
    
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in purchase %}
            <li class="shopping-list__item" data-id="{{ recipe.id }}">
                <div class="recipe recipe_reverse">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                </div>
                <a class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        {% if purchase %}
            <a class="shopping-list__button link" style="font-size: 20px;" href="{% url 'purchase_save' %}">Скачать список</a>
        {% else %}
            <a class="shopping-list__button" style="font-size: 20px; color: black;">Ваш список пока пуст</a>
            <a class="shopping-list__button link" style="font-size: 20px;" href="{% url 'index' %}">Добавьте рецепты на главной странице</a>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/shopList.js' %}"></script>
{% endblock %}