{% extends "foodgram/base.html" %}
{% load static %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/single.css'%}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
    
    {% include 'recipes/extend/image.html' with size="480x480" class="card__image" %}

        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title"> {{ recipe.title }} </h1>
                <div class="single-card__favorite">
                    {% if user.is_authenticated %}
                        {% include 'recipes/extend/buttons/favor_button.html' with check=recipe.favorite %}
                        <div class="single-card__favorite-tooltip tooltip">{{ recipe.favorite|yesno:'Убрать из избранного, Добавить в избранное'}}</div>
                    {% endif %}
                </div>
            </div>
            {% include 'recipes/extend/icon_extend/icon_tags.html' with class_1="single-card__items" class_2="single-card__item" tags=recipe.tag.all %}
            <div class="single-card__items single-card__items_column">
                {% include 'recipes/extend/icon_extend/icon_time.html' with class="single-card__text" time=recipe.time %}
                <ul class="single-card__items">
                    <li class="single-card__item">
                        {% include 'recipes/extend/icon_extend/icon_user.html' with class="single-card__text" author=recipe.author %}
                    </li>
                    {% if user == recipe.author %}
                        <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe.id %}" class="single-card__text">Редактировать рецепт</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="single-card__items">
                {% if user.is_authenticated %}
                    <li class="single-card__item">
                        {% include 'recipes/extend/buttons/purchase_button.html' with check=recipe.purchased%}
                    </li> 
                    {% include 'recipes/extend/buttons/subs_button.html' with author=recipe.author tagging='li' style='height: 48px;' check=recipe.subs %}
                {% endif %}
            </ul>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингредиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for ingredient in recipe.volume_ingredient.all %}
                        <p class=" single-card__section-item">{{ ingredient }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">{{ recipe.description|linebreaksbr }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/SingleCard.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/singlePage.js' %}"></script>
{% endblock %}