{% extends "foodgram/base.html" %}
{% load static %}

{% block title %}Вы вышли из системы{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css'%}">
{% endblock %}

{% block content %}
     <div class="custom-center-block">
        <p class="custom-text-block">
            Вы вышли из своей учётной записи. Ждём вас снова!
        </p>
            <div class="custom-button-block">
                <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную страницу</button></a>
            </div>
        </p>
    </div>
{% endblock %}