{% extends "foodgram/base.html" %}
{% load static %}

{% block title %}Вы вышли из системы{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css'%}">
{% endblock %}

{% block content %}
     <div class="custom-center-block">
        <p class="custom-text-block">
            Вы вышли из своей учётной записи. Ждём вас снова!
        </p>
            {% include "registration/extend/custom_button_block.html" with url="/"  button_text="Перейти на главную страницу" %}
        </p>
    </div>
{% endblock %}