{% extends "foodgram/base.html" %}
{% load static %}
{% load user_filters %}

{% block title %}Новый пароль{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css'%}">
{% endblock %}

{% block content %}
     <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% include "registration/extend/form_field.html" with class="form__input" id=field.id_for_label label=field.label errors=field.errors %}
            {% endfor %}
            {% include "registration/extend/form_footer.html" with footer_text="Изменить пароль" %}
        </form>
    </div>
{% endblock %}