{% extends "foodgram/base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Сброс пароля{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css'%}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_email" class="form__label">Адрес электронной почты</label>
                <div class="form__field-group">
                    <input type="email" name="email" id="id_email" value="{{ form.instance.email }}" class="form__input">
                    <span class="form__error">{{ form.email.errors }}</span>
                </div>
            </div>
            {% include "registration/extend/form_footer.html" with footer_text="Cбросить пароль" %}
        </form>
    </div>
{% endblock %}