{% extends "foodgram/base.html" %}
{% load static %}
{% url "login" as path %}

{% block title %}Сброс пароля{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css'%}">
{% endblock %}

{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">Сброс пароля завершен.
            <br>
            Ваш пароль изменён. Теперь вы можете войти в систему.
            <div class="custom-button-block">
                <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти к авторизации</button></a>
            </div>
    </div>
{% endblock %}