{% extends "foodgram/base.html" %}
{% load static %}
{% load user_filters %}

{% block title %}Pегистрация{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css'%}">
{% endblock %}


{% block content %}
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% include "registration/extend/form_field.html" with id=field.id_for_label label=field.label errors=field.errors %}
            {% endfor %}
            {% include "registration/extend/form_footer.html" with footer_text="Создать аккаунт" %}
        </form>
    </div>
{% endblock %}
