{% extends 'foodgram/base.html' %}
{% load static %}

{% block title %}Об авторе{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/single.css'%}">
{% endblock %}

{% block content %}

    <img class="card__image" src="{% static 'img/2107.jpg'%}" width=300px>
    <div class="single-card__info">
        <p class="single-card__text">Меня зовут Алексей, это веб-приложение я сделал во время обучения на платформе</p>
        <p class="single-card__text">"Яндекс.Практикум" по специальности Python-разработчик.<br></p>
        <p class="single-card__text"><a href='https://github.com/qaser'>Мой профиль на Github</a></p>
    </div>

{% endblock %}