{% extends 'foodgram/base.html' %}
{% load static %}

{% block title %}Технологии{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/single.css' %}">
{% endblock %}

{% block content %}
    <img class="card__image" src="{% static 'img/floppy.jpg'%}" width=200px>
    <div class="single-card__text">
            Для создания этого сайта использовались следующие технологии:
    </div>
        <div class="single-card__text">
            <ul>
                <li><a href='https://www.python.org/'>Python</a></li>
                <li><a href='https://www.djangoproject.com/'>Django</a></li>
                <li><a href='https://www.postgresql.org/'>PostgreSQL</a></li>
                <li><a href='https://nginx.org/ru/'>NGINX</a></li>
                <li><a href='https://www.docker.com/'>Docker</a></li>
                <li><a href='https://docs.docker.com/compose/'>Docker-compose</a></li>
                <li><a href='https://en.wikipedia.org/wiki/Coffee'>Кофе</a></li>
                <li><a href='https://music.yandex.ru/album/13894605'>Музыка</a></li>
                <li><a href='https://en.wikipedia.org/wiki/Procrastination'>Вечный спутник</a></li>
            </ul>
        </div>
{% endblock %}